.contactoform {
	list-style-type: none;
	list-style: none;
	background-color:$gris-medio;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 3%;
	align-items: left;
	border-radius: 1rem;
	border-style: inset;
	border-width: 1px;
	border-color: $naranja;
	margin: 1%;
}

.relleno {
	background-color: $gris-medio;
}

.contactoheader {
	font-size: large;
	color: $naranja;
	font-style: italic;
	background-color: $gris-medio;
	margin-bottom: 1rem;
}

.contactoformlabel {
	font-size: medium;
	background-color: $gris-medio;
	color:white;
}

.contactobarra {
	color: #ddd;
	background-color: black;
	padding-left: 2%;
	border-style: none;
	border-radius: 5px;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
	width: 20rem;
	resize: none;

    &:focus {
        border-style: none;
        outline: none;
    }
}



.contactoboton {
	background-color: $naranja;
	color: black;
	border-style: none;
	border-radius: 5px;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	margin-top: 1rem;
	font-size: large;
}


.contactobox {
	list-style-type: none;
	list-style: none;
	justify-content: center;
	padding: 0%;
	margin: 1%;
}

.contactoicono {
	margin-top: 2rem;
	width: 3rem;
}

.contactohead {
	font-size: large;
	color: $naranja;
	margin-bottom: 1rem;
}

.contactoinfo {
	font-size: medium;
}

.alineador {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contactomain {
	list-style-type: none;
	list-style: none;
	padding: 0%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.contentcontacto {
	color: $blanco;
	text-align: center;
	margin-bottom: 1%;
	font-size: x-large;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 70vh;
	justify-items: center;
}

