.footer {
	padding-top: 2rem;
	margin-bottom: 1rem;
	color: $blanco;
	display: flex;
	justify-content: center;
	text-align: center;
}

.redes {
	margin-top: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

}