.naranja {
	font-size: larger;
	color: $naranja;
}

.noticias {  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));	
	gap: 1em 1em;
	grid-auto-rows: 30vh;
	grid-template-areas:
	  "noticiaprincipal noticiaprincipal noticia1 noticia2"
	  "noticiaprincipal noticiaprincipal noticia1 noticia2"
	  "noticia3 noticia4 noticia5 noticia6"
	  "noticia3 noticia4 noticia5 noticia6";
	width: 80%;
	height: 80%;
	
  }
  
  @media only screen and (max-width: 800px) {
	/* Estilos para dispositivos móviles */
	.noticias {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.noticiasstyle {
		min-height: 20rem !important;
		max-width: 24rem;
		
	}

  }

  .noticia2 { 
	grid-area: noticia2; 
	background-color: $gris-oscuro;
	background-image: url("https://media.discordapp.net/attachments/1029143452941820016/1111587419989479434/image.png?width=573&height=559");
	@extend .noticiasstyle;
	}
  
  .noticia3 { 
	grid-area: noticia3; 
	background-color: $gris-oscuro;
	background-image: url("https://media.discordapp.net/attachments/1029143452941820016/1111588583929823322/image.png");
	@extend .noticiasstyle;
	}
  
  .noticia4 { 
	grid-area: noticia4; 
	background-color: $gris-oscuro;
	background-image: url("https://media.discordapp.net/attachments/1029143452941820016/1111590167887757362/image.png?width=401&height=559");
	@extend .noticiasstyle;
	}
  
  .noticia5 { 
	grid-area: noticia5; 
	background-color: $gris-oscuro;
	background-image: url("https://media.discordapp.net/attachments/1029143452941820016/1111593284930904124/image.png?width=372&height=559");
	@extend .noticiasstyle;
	}
  
  .noticia6 { 
	grid-area: noticia6; 
	background-color: $gris-oscuro;
	background-image: url("https://media.discordapp.net/attachments/1029143452941820016/1111593924776185916/image.png?width=345&height=559");
	@extend .noticiasstyle;
	}
  
  .noticiaprincipal { 
	grid-area: noticiaprincipal; 
	background-color: $gris-oscuro;
	background-image: url("https://media.discordapp.net/attachments/555514970033618958/1111585045552042025/notihotsale.png");
	@extend .noticiasstyle
	}
  
  .noticia1 { 
	grid-area: noticia1; 
	background-color: $gris-oscuro;
	background-image: url("https://media.discordapp.net/attachments/1029143452941820016/1111589064748056586/image.png?width=409&height=559");
	@extend .noticiasstyle;
	}
  
  .notiflex {
	display: flex;
	justify-content: center;
	align-content: center;
  }

  .notititulo {
	height: 100%;
	width: 100%;
	background-color: transparent;
	border: none;
	text-align: left;
	font-size: x-large;
	font-weight: 600;
	padding: 1rem;
	color: white;
	display: inline-flex;
	align-items: flex-end; 
	overflow: hidden;
	text-overflow: ellipsis;
	border-radius: 1rem;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
	&:hover {
		background-color: rgba(255, 255, 255, 0.205);
	}
  }

  
  .noticiasstyle {
	min-height: 100%;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius: 1rem;
	box-shadow: inset 0px -80px 80px rgba(8, 8, 8, 0.8);
  }

  .contbotonnoticias {
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .botonnoticias {
	margin-top: 1rem;
	@extend .botonmysterybox;
	margin-bottom: 0%;
	padding: 0.5rem;
	font-weight: 600;
	font-size: large;
  }
