.lista {
	margin-right: 10%;
	margin-left: 10%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(max(195px,Xvw), 2fr));
	grid-column-gap: 2rem;
	grid-row-gap: 1rem;
}

  .card-img-top {
	height: 300px;
	object-fit: cover;
  }

  .titulo {
	color: $naranja;
	background-color: black;
  }

  .antisalto {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: x-large;
	font-weight: bolder;
	background-color: black;
  }

.card{
	border: 2px solid $gris-oscuro;
	border-radius: 0.5rem;
	background-color: black;
	color: white;
	margin-top: 1%;
	}

.card-body{
	background-color: black;
	}

.card-text {
	color: $naranja;
	background-color: black;
	}

.gris {
	background-color: black;
	}

.containerflex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

